h2 Desarrollo de <br>contenidos
.brand-line-primary

.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Presentación unidad temática', 'main.html#page/presentacion/')
                    +navTemaItem('2', 'Introducción medio ambiente e impacto ambiental', 'main.html#page/introduccion/')
                    +navTemaItem('3', 'Bases conceptuales de medio ambiente, impacto ambiental y línea base ambiental', 'main.html#page/bases/')
                    +navTemaItem('4', 'Marco normativo ambiental', 'main.html#page/marco/')
                    +navTemaItem('5', 'Identificación de impactos ambientales por ciclo de vida', 'main.html#page/identificacion/')
                    +navTemaItem('6', 'Métodos e instrumentos para la recolección de la información', 'main.html#page/metodos/')
                    +navTemaItem('7', 'Diagnóstico ambiental', 'main.html#page/diagnostico/')