.container#presentacion

    .header-ecored
        h1 1. Presentación

    .jumbotron.bg-white.mt-5 

        p Un primer paso para comenzar a implementar la gestión ambiental en las organizaciones es realizando un diagnóstico ambiental, para ello es importante conocer y valorar los componentes ambientales del entorno que pueden verse afectados por las actividades,  identificar los requisitos legales aplicables, conocer el contexto de la organización por medio del ciclo de vida para identificación de impactos en sus procesos, todo ello teniendo en cuenta el levantamiento de la información en campo por medio de métodos e instrumentos de recolección de información.

        .header-arrow.mb-5
            p.text-white.text-center #[strong En esta unidad temática se desarrollarán 6 contenidos virtuales para tener bases concretas en el proceso de Diagnóstico Ambiental en una organización:]

        .row.align-items-center.justify-content-center.ml-4
            .col-10.text-center
                img.img-fluid(src="assets/images/pages/img1.png", style="max-width: 100%")