.container#bases

    .header-ecored
        h1 3. Bases conceptuales de medio ambiente, impacto ambiental y línea base ambiental

    br#bases1

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.1 Bases conceptuales medio ambiente

        .sub-line
            h2.my-5 Individuo y especie
        
        img.img-fluid(src="assets/images/pages/img1.svg").img-a

        .row.align-items-center.justify-content-center.bg-color1.rounded.p-4.mx-0.mt-4
            .col-12
                p.mb-0 #[b Individuo:]
                p Todo ser vivo, independientemente de su complejidad biológica, es un individuo, capaz de realizar todas las funciones vitales: nutrición, relación y reproducción. Se refiere al individuo de una especie. Ejemplo el perro pepe es un individuo único en el universo y se llama pepe.
                p.mb-0 #[b Especie:]
                p Forma en la que se agrupan los seres vivos. Por ejemplo, los cernícalos forman parte de la misma especie, al igual que los gatos, los perros, los leones, las tabaibas o los laureles.

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.abc.com.py/edicion-impresa/suplementos/escolar/individuo-poblacion-comunidad-625942.html" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p ABC (2013, octubre 7) Individuo, población, comunidad

        .sub-line
            h2.my-5 Población

        img.img-fluid(src="assets/images/pages/img2.svg").img-a

        .row.align-items-center.justify-content-center.bg-color1.rounded.p-4.mx-0.mt-4
            .col-12
                p Miembros de la misma especie que habitan en un ecosistema. Por ejemplo, la población de cernícalos de la isla de gran canaria son todos los cernícalos que en la isla habitan.

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.abc.com.py/edicion-impresa/suplementos/escolar/individuo-poblacion-comunidad-625942.html" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p ABC (2013, octubre 7) Individuo, población, comunidad

        .sub-line
            h2.my-5 Comunidad

        img.img-fluid(src="assets/images/pages/img3.svg").img-a

        .row.align-items-center.justify-content-center.bg-color1.rounded.p-4.mx-0.mt-4
            .col-12
                p Es el conjunto de poblaciones de un ecosistema. Por ejemplo, son todos los animales que habitan en un bosque.

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.abc.com.py/edicion-impresa/suplementos/escolar/individuo-poblacion-comunidad-625942.html" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p ABC (2013, octubre 7) Individuo, población, comunidad
        
        .sub-line
            h2.my-5 Ecosistema

        img.img-fluid(src="assets/images/pages/img4.svg").img-a.img-size

        .row.align-items-center.justify-content-center.bg-color1.rounded.p-4.mx-0.mt-4
            .col-12
                p Un Ecosistema es un conjunto formado por un espacio determinado y todos los seres vivos que lo habitan. Por ello podemos decir que están formados por el medio físico y los seres vivos que en él se encuentran. Los ecosistemas se pueden clasificar en terrestres (bosques, praderas o desiertos) o acuáticos (de agua dulce o de agua salada). Los ecosistemas pueden ser de diversos tamaños, desde una charca a todo un océano, de hecho, podemos considerar a La Tierra y todos los seres vivos que en ella habitan como un gran ecosistema. A este gran ecosistema se le llama la BIOSFERA (BIO = VIDA + ESFERA).

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.car.gov.co/vercontenido/2215" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p CAR (s,f) Glosario de términos ambientales

        .sub-line
            h2.my-5 Tipos de ecosistema

        .row.align-items-center.justify-content-center.bg-color1.rounded.p-4.mx-0.mt-4
            .col-12
                p En el mundo existen diversos tipos de ecosistema se le invita a observa la riqueza de ecosistemas que tiene nuestro país Colombia, recuerde que tener diversos ecosistemas es tener varias comunidades, poblaciones de diferentes especies que se adaptan a ese entorno por eso Colombia es rica en biodiversidad. (Tierra colombiana, información. s,f)

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://tierracolombiana.org/ecosistemas-de-colombia/" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Ver mapa de ecosistemas de Colombia
        
        .row.align-items-center.justify-content-center.mt-5
            .col-12.col-md-6
                img.img-fluid(src="assets/images/pages/img3.png").img-a
            .col-12.col-md-6
                img.img-fluid(src="assets/images/pages/img5.svg").img-a
        
        .sub-line
            h2.my-5 Medioambiente

        img.img-fluid(src="assets/images/pages/img6.svg").img-a.img-size

        .row.align-items-center.justify-content-center.bg-color1.rounded.p-4.mx-0
            .col-12
                p El medio ambiente seria la generalidad de incluir todos los ecosistemas incluyendo el ecosistema urbano creado por los seres humanos, por eso la definición social de que medio ambiente es todo lo que nos rodea.
                
                p En el diagnóstico ambiental que se realice en la organización se incluye los recursos naturales como son flora, fauna, agua, suelo, aire, pero también el social (incluyendo las actividades humanas) como parte de un todo.

                p La definición especifica es la Conferencia de las Naciones Unidas sobre Medio Ambiente en Estocolmo (1972) lo define como: “Medio ambiente es el conjunto de componentes físicos, químicos, biológicos y sociales capaces de causar efectos directos o indirectos, en un plazo corto o largo, sobre los seres vivos y las actividades humanas”, citado en el libro “Agenda 21” de Foy (1998). 

                p La definición según la ISO 14001:2015 Medio ambiente: es todo aquello que rodea al ser humano y que comprende elementos naturales, tanto físicos como biológicos, elementos artificiales y elementos sociales y las interacciones de éstos entre sí.
        
        .sub-line
            h2.my-5 Cambio Climático

        img.img-fluid(src="assets/images/pages/img4.png").img-a

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0
            .col-12
                p La Convención Marco de las Naciones Unidas sobre el Cambio Climático (CMNUCC), en su artículo 1, define el cambio climático como “cambio de clima atribuido directa o indirectamente a la actividad humana que altera la composición de la atmósfera global y que se suma a la variabilidad natural del clima observada durante períodos de tiempo comparables”. IPCC (2018) Glosario p. 188.

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.ipcc.ch/site/assets/uploads/2018/08/WGI_AR5_glossary_ES.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Glosario
        
        .sub-line
            h2.my-5 Efecto invernadero

        img.img-fluid(src="assets/images/pages/img7.svg", style="max-width: 40%").img-a

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.rounded.mt-4
            .col-12
                p El IPCC Panel Intergubernamental sobre Cambio Climático establece que el efecto invernadero, es el  efecto radiactivo infrarrojo de todos los componentes de la atmósfera que absorben en el infrarrojo, por lo tanto los gases de efecto invernadero y las nubes y, en menor medida, los aerosoles absorben la radiación terrestre emitida por la superficie de la Tierra, esta modificación de la concentración de los gases de efecto invernadero debida a emisiones antropógenas contribuye a un aumento de la temperatura en la superficie o índice de calentamiento. IPCC (2018) Glosario p. 190.

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.ipcc.ch/site/assets/uploads/2018/08/WGI_AR5_glossary_ES.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Glosario
        
        .sub-line
            h2.my-5 Capa de ozono

        img.img-fluid(src="assets/images/pages/img8.svg", style="max-width: 40%").img-a

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.rounded.mt-4
            .col-12
                p El IPCC (2013) Panel Intergubernamental sobre Cambio Climático establece que la capa de ozono define que en la estratosfera contiene una capa en que la concentración de ozono es máxima, denominada capa de ozono. Esta capa abarca aproximadamente desde los 12 km hasta los 40 km por encima de la superficie terrestre. La concentración de ozono alcanza un valor máximo entre los 20 km y los 25 km aproximadamente. Esta capa ha sido mermada por efecto de las emisiones humanas de compuestos de cloro y de bromo.  IPCC (2018) Glosario p. 188.

                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.ipcc.ch/site/assets/uploads/2018/08/WGI_AR5_glossary_ES.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Glosario

        .sub-line
            h2.my-5 Calentamiento global

        img.img-fluid(src="assets/images/pages/img9.svg", style="max-width: 80%").img-a

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.rounded.mt-4
            .col-12
                p La PNCC (2017) que es sus siglas traduce: (política nacional de cambio climático) establece que el calentamiento global es causado por las emisiones de gases de efecto invernadero generadas por distintas actividades humanas y coincide en afirmar que dicho cambio ha ocasionado impactos en sistemas humanos y naturales en todo el mundo. De continuar con la tendencia de emisiones, la temperatura promedio global aumentará en más de 4 °C y consecuentemente se incrementará la probabilidad de impactos climáticos severos e irreversibles como la pérdida de ecosistemas, inseguridad alimentaria, inundaciones, entre otros. MINAMBIENTE (2017) Política Nacional de Cambio Climático p.31.

        .row.align-items-center.justify-content-center.mt-5
            .col-12.col-md-3.text-center
                img.img-fluid(src="assets/images/pages/img10.svg")
            .col-12.col-md-9
                .sub-line
                    h2.my-5 Evaluación de impacto ambiental
                
                p La CAR (Corporación Autónoma Regional) define que la evaluación de impacto ambiental es el resultado de medir y ponderar los efectos de las actividades del desarrollo humano o la carencia de acciones sobre distintos componentes del medio ambiente durante una etapa de planeación. CAR (2020) Glosario de términos.
                    
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.car.gov.co/vercontenido/2215" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p (2020) Glosario de términos

        .hr

        .row.align-items-center.justify-content-center.mt-5
            .col-12.col-md-3.text-center
                img.img-fluid(src="assets/images/pages/img11.svg")
            .col-12.col-md-9
                .sub-line
                    h2.my-5 Impacto Ambiental
                
                p La CAR (corporación Autónoma Regional)  establece que el impacto ambiental es cualquier alteración en el medio físico, químico, biológico, cultural y socioeconómico que pueda ser atribuido a actividades humanas relacionadas con las necesidades del proyecto CAR (2020) Glosario de términos.
                
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="https://www.car.gov.co/vercontenido/2215" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p (2020) Glosario de términos

        .hr

        .row.align-items-center.justify-content-center.mt-5
            .col-12.col-md-3.text-center
                img.img-fluid(src="assets/images/pages/img12.svg")
            .col-12.col-md-9
                .sub-line
                    h2.my-5 Contaminación
                
                p Se entiende por contaminación la alteración del ambiente con sustancias o formas de energía puestas en él, por actividad humana o de la naturaleza, en cantidades, concentraciones o niveles capaces de interferir el bienestar y la salud de las personas, atentar contra la flora y la fauna, degradar la calidad del ambiente de los recursos de la nación o de los particulares MINAMBIENTE (1974) Decreto 2811 de 1974. Artículo 8.
                
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="http://www.secretariasenado.gov.co/senado/basedoc/decreto_2811_1974.html" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p MINAMBIENTE (1974) Decreto 2811 de 1974. Artículo 8.

        .hr

        .row.align-items-center.justify-content-center.mt-5
            .col-12.col-md-3.text-center
                img.img-fluid(src="assets/images/pages/img13.svg")
            .col-12.col-md-9
                .sub-line
                    h2.my-5 Contaminante
                
                p Se entiende por contaminante cualquier elemento, combinación de elementos, o forma de energía que actual o potencialmente pueda producir alteración ambiental de las precedentemente descritas. La contaminación puede ser física, química o biológica.
                
                section.mt-4
                    .row.justify-content-center
                        .col-auto
                            a(href="http://www.secretariasenado.gov.co/senado/basedoc/decreto_2811_1974.html" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p MINAMBIENTE (1974) Decreto 2811 de 1974. Artículo 8.

        .hr

        .header-arrow.my-5
            h3.text-center Conclusión

        .row.bg-color3.mx-0.mt-5
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span A
                .list__txt
                    p.mb-0 Los seres vivos presentan varios niveles de organización que van desde el nivel atómico o molecular, la célula, los tejidos, los órganos, los organismos (seres vivos como tal representando un individuo de una especie), población (varios individuos de la misma especie), comunidad (varias especies que conviven juntas y que tienen interacciones como cadena alimenticia, mutualismo, comensalismo, simbiosis, etc., ecosistema ( varias comunidades en un mismo ambiente especifico) hasta Medio Ambiente todo lo que nos rodea.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span B
                .list__txt
                    p.mb-0 Estos conceptos son relevantes para entender la diferencia en cuanto a problemas legales ambientales cuando se dice que una empresa acaba con un ecosistema es una opinión que puede tener demandas millonarias porque esto redunda muchas especies y un medio específico con característica.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span C
                .list__txt
                    p.mb-0 Muchas veces estas empresas disminuyen la connotación al haber afectado una población o un individuo para que la multa disminuya, pero esto no quiere decir que sea menos importante, puede ser una especie en vía de extinción, importante para mantener el eslabón de la cadena alimenticia, una especie con unas funciones eco sistemáticas esenciales para este, si es cría o hembra.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span D
                .list__txt
                    p.mb-0 Todas estas variables que dependen de los casos pueden ser de multas millonarias, pero muchas veces las empresas tienen el dinero para pagar las multas, por tanto, también existen sanciones de sellamiento y cerramiento.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span E
                .list__txt
                    p.mb-0 Reconocer los hábitats de las especies en el área de influencia del proyecto o de una organización y reconocer las actividades de la organización si afectan ese hábitat de manera directa a la especie o de manera indirecta contaminando o afectando el agua, el suelo, el aire, esto nos sirve para identificar medidas de prevención y mitigación ambiental.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span F
                .list__txt
                    p.mb-0 Por eso algunas empresas prefieren que los ambientes ya estén intervenidos por el hombre para no afectar el medio y es ahí donde vemos que personas inescrupulosas realizan casos ilegales como rellenar de basura y escombros los humedales para que estos se extingan y cuando ya no se pueda hacer nada por él sea más fácil obtener la licencia de construcción en esta zona a futuro.

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b Pregunta de reflexión]
                p ¿Usted, conoce casos de empresas donde se hallan afectado alguna especie, población, comunidad o ecosistema en Colombia?
    
    br#componentes

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.2 Componentes ambientales

        p Aspectos ambientales que constituyen un medio (abiótico o inerte, biótico o socioeconómico) como, por ejemplo, componente atmosférico, hidrológico, faunístico, demográfico, entre otros.

        p En términos generales, en el marco del proceso de licenciamiento ambiental los aspectos a evaluar para la determinación del área de influencia se deben plantear considerando una organización jerárquica de medio y componente, en la cual, los medios se entienden como la división general del ambiente y máxima categoría de abordaje, y los componentes corresponden a los elementos ambientales que constituyen un medio, como se presenta a continuación:

        .sub-line
            h2.my-5 El medio abiótico

        p Contiene los componentes geológico, geomorfológico, paisaje, suelo y uso del suelo, hidrológico, hidrogeológico, oceanográfico, geotécnico y atmosférico, entre otros.

        .sub-line
            h2.my-5 El medio biótico

        p  El medio biótico comprende los componentes flora, fauna e hidrobiota.

        .sub-line
            h2.my-5 El medio socioeconómico

        p Consta de los componentes demográfico, espacial, económico, cultural, arqueológico y político-organizativo.

        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="https://drive.google.com/drive/folders/10tRljdtgOmTg404fiXsbQmzjG9sXxxDR" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Manual de evaluación de impacto ambiental de proyectos, obras o actividades - Pág. 21
        
        .sub-line
            h2.my-5 Área de influencia

        p Para definir el área de influencia, es necesario estimar la localización, tipo e intensidad de uso de los recursos durante las distintas fases del desarrollo del proyecto, obra o actividad, así como considerar los impactos generados sobre estos y su variación en tiempo y espacio.

        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="https://drive.google.com/drive/folders/10tRljdtgOmTg404fiXsbQmzjG9sXxxDR" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Manual de evaluación de impacto ambiental de proyectos, obras o actividades - Pág. 102

        section.mt-5.ml-4
            
            h3 
                span 
                    i.fa.fa-caret-right.mr-2 
                    strong Área de influencia directa (AID)
            
            p El área de influencia directa es aquella donde se presentan los impactos generados en las fases de construcción y/o operación de un proyecto, obra o actividad; está relacionada con el sitio donde se ubica la organización y su infraestructura. 

            p De acuerdo con el impacto generado el área puede o no cambiar y de acuerdo a      esto se deben delimitar las áreas de influencia sobre todos los componentes. La caracterización del AID debe ofrecer una visión detallada de los componentes.

            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="http://www.minem.gob.pe/minem/archivos/file/DGGAE/DGGAE/ARCHIVOS/estudios/EIAS%20-%20electricidad/EIA/EIA-HIDRO%20CHILIA-2015/4.0%20Descripci%C3%B3n%20area%20influencia%20directa%20e%20indirecta%20Rev%200.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p Estudio de impacto ambiental del proyecto “Central Hidroeléctrica Chilia” Ancash-Huáuco - Pag. 1
            
            h3.mt-5
                span 
                    i.fa.fa-caret-right.mr-2 
                    strong Área de influencia indirecta (AII)

            p El área donde los impactos se propagan hacia la zona externa al área de influencia directa y se extiende tanto como el efecto del impacto lo permita.

            section.mt-4
                .row.justify-content-center
                    .col-auto
                        a(href="http://www.minem.gob.pe/minem/archivos/file/DGGAE/DGGAE/ARCHIVOS/estudios/EIAS%20-%20electricidad/EIA/EIA-HIDRO%20CHILIA-2015/4.0%20Descripci%C3%B3n%20area%20influencia%20directa%20e%20indirecta%20Rev%200.pdf" target="_blank").media-link
                            img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                            .media-link-title
                                p Estudio de impacto ambiental del proyecto “Central Hidroeléctrica Chilia” Ancash-Huáuco - Pag. 2

        .sub-line
            h2.my-5 Metodología para la recolección de información de los componentes ambientales

        .row.bg-color3.mx-0.mt-5
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span A
                .list__txt
                    p.mb-0 Consultar información secundaria del área de estudio  como cartográfica referente a cada uno de los componentes (p.ej. Googlemaps, Guía de Zonificación y Codificación de Cuencas Hidrográficas, publicada por el Instituto de Hidrología, Meteorología y Estudios Ambientales - IDEAM y el Ministerio de Ambiente y Desarrollo Sostenible – MADS, planchas del Servicio Geológico Colombiano, fotografías satelitales e imágenes de sensores remotos, bases cartográficas del IGAC, información cartográfica oficial disponible respecto a la división político-administrativa del área de estudio, entre otros), así como información de fuentes oficiales de índole local, regional y nacional (POMCAS, Instrumentos de ordenamiento territorial, ERA, ENA, entre otros), teniendo en cuenta la localización del proyecto, obra o actividad.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span B
                .list__txt
                    p.mb-0 Realizar reconocimiento del área, con el fin de corroborar la información secundaria consultada y la establecida en las imágenes satelitales, haciendo uso de recorridos definidos y estableciendo y/o ratificando puntos de interés para el levantamiento de información y/o muestreos.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span C
                .list__txt
                    p.mb-0 A partir de esta información identificar aspectos relevantes y establecer puntos de interés por su vulnerabilidad o conservación ambiental y social de los medios físicos, como bióticos y socioeconómicos.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span D
                .list__txt
                    p.mb-0 Definir y/o identificar las actividades propuestas para las diferentes fases, de acuerdo con las necesidades del proyecto, obra o actividad.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span E
                .list__txt
                    p.mb-0 Identificar y definir las unidades mínimas de análisis para cada uno de los componentes (p.ej. hídrico, geológico, geomorfológico, flora, fauna, demográfico, espacial, cultural, entre otros), que se presenten como relevantes.
        .row.bg-color3.mx-0.mt-3
            .list.align-items-start
                .list__item
                    .list__item__bulletNumber
                        span F
                .list__txt
                    p.mb-0 Teniendo en cuenta lo anterior, obtener, definir y/o delimitar un área de influencia directa e indirecta.  trazar un polígono con base en la información estableciendo el área donde se manifestarían los impactos ambientales significativos para cada uno de los componentes de los medios abiótico, biótico y socioeconómico, utilizando criterios y variables relacionados con la presencia de elementos o condiciones que se evidencian como factores que inciden en la trascendencia de los posibles impactos, como: cambios de coberturas de la tierra, geo formas, puntos de convergencia de dos cuerpos de agua, cambios de pendiente, posibles puntos de captación y vertimiento, divisiones territoriales, entre otros.
        
        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b Notas]
                p En caso de mayor detalle de la información requerida para realizar el inventario ambiental o línea base ambiental de los componentes ambientales.
                p ver la siguiente guía.

                section
                    .row.justify-content-center
                        .col-auto
                            a(href="http://www.andi.com.co/Uploads/guia_para_la_definicion_identificacion_y_delimitacion_del_area_de_influencia_0.pdf" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Guía para la definición, identificación y delimitación del área de influencia
                
                p.mt-4 En caso de construir un inventario ambiental o línea base ambiental de los componentes ambientales para un estudio de impacto ambiental para el otorgamiento de una licencia ambiental debe acatarse adicionalmente los términos de referencia que dicta el ANLA Autoridad Nacional de Licencias Ambientales si aplica para el tipo de proyecto en el cual le mencionan que tener en cuenta los requisitos específicos que solicita la autoridad ambiental.

                p Ver la siguiente página:

                section
                    .row.justify-content-center
                        .col-auto
                            a(href="http://portal.anla.gov.co/terminos-referencia" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Términos de referencia

        .sub-line
            h2.my-5 Tipos de Componentes Ambientales

        p Para realizar un diagnóstico ambiental de la organización es importante identificar los componentes ambientales que rodea la organización en su área de influencia directa e indirecta para así definir si estos componentes ambientales están siendo afectados o pueden ser afectados por las actividades de la organización.

        p Identificar los componentes ambientales en un área de estudio, también se le conoce como línea base ambiental o inventario ambiental y hace parte del diagnóstico ambiental en una organización.

        p Su función es caracterizar el entorno en el que se localiza, identificando su evolución y mecanismos de interacción, la calidad de sus componentes ambientales y la fragilidad a cada tipo de actuación y su calidad. Como se recordará: - la calidad de los componentes ambientales (y por extensión del entorno), hace referencia al valor intrínseco del factor ambiental, de acuerdo con criterios conservación, representatividad, exclusividad, función ambiental y/o interés social. - la fragilidad de los componentes ambientales (y por extensión del entorno), es la capacidad que tiene un factor ambiental de verse alterado por las acciones de proyecto, obra o actividad de una actuación determinada. 

        p El contenido del inventario debe ser completo, es decir, ha de considerar al menos los factores ambientales básicos (agua, suelo, aire, flora y fauna), dependiendo el grado y detalle del análisis de éstos de las necesidades que derivan del tipo de medio en el que se actúa.

        .row.justify-content-center.mt-5
            .col-8
                table.table.table-striped
                    tbody
                        tr
                            td.table1
                                p #[b El medio abiótico]
                                p Contiene los componentes geológico, geomorfológico, paisaje, suelo y uso del suelo, hidrológico, hidrogeológico, oceanográfico, geotécnico y atmosférico, entre otros.
                            td.table2
                                p #[b El medio biótico]
                                p Comprende los componentes flora, fauna e hidrobiota.
                        tr
                            td.table2
                                p #[b El medio socioeconómico]
                                p consta de los componentes demográfico, espacial, económico, cultural, arqueológico y político-organizativo.
        
        .header-arrow.my-5
            h3.text-center A continuación se describe cada componente:
        
        h3.mt-6
                span 
                    i.fa.fa-caret-right.mr-2 
                    strong Ambiente Físico:  incluye los componentes abióticos del ecosistema
        
        img.img-fluid(src="assets/images/pages/img5.png").img-a.mt-5

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0
            .col-12
                p En esta categoría se incluyen todas las características físicas en o cerca de la superficie del proyecto, las formaciones terrestres, declives, suelos, geología, recursos minerales y peligros naturales. 

                p También se incluyen procesos importantes como la erosión, estabilidad de declives y otras propiedades del suelo. Adicionalmente a la descripción de los usos actuales y futuros, se pueden considerar aspectos especiales como las tierras agrícolas y las tierras preservadas para usos especiales (por ejemplo, áreas naturales protegidas). Se pueden considerar aspectos como el valor de la tierra, los derechos de propiedad, zonificación, y conformidad con los planes oficiales.

        img.img-fluid(src="assets/images/pages/img6.png").img-a.mt-5

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0
            .col-12
                p Incluye una descripción del clima y la meteorología (balance del agua, estaciones, calidad del aire), así como los temas referidos al ruido (niveles de ruido ambiental, la existencia de fuentes de ruido, sensibilidad de los receptores, las reglamentaciones ambientales), olores, calor y luz, que se incluyen en la categoría  de “aire”,  porque sus efectos son generalmente transmitidos a través de la atmósfera.

        img.img-fluid(src="assets/images/pages/img7.png").img-a.mt-5

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0
            .col-12
                p Se incluyen todos los aspectos de los recursos hídricos superficiales y subterráneos, empezando por sus características físicas básicas (redes de drenaje, canales y zonas inundables, riberas y batimetría de lagos y estuarios, la capa freática y sus propiedades, el sistema de flujo de agua subterránea, la cantidad (caudales) y calidad (cuando existan datos). Al igual que los recursos terrestres, la descripción incluye procesos y otras características dinámicas del medio ambiente, (por ejemplo, diversidad biológica en lagos, lagunas y ríos, interacciones de las cadenas tróficas) y el manejo del agua (abastecimiento, uso, derechos de uso, estándares de calidad, regulaciones, planes para administrar zonas costeras, etc.)

        .hr

        h3.mt-6
                span 
                    i.fa.fa-caret-right.mr-2 
                    strong Ambiente Biótico
        
        img.img-fluid(src="assets/images/pages/img8.png").img-a.mt-5

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0
            .col-12
                p Identifica las especies de flora y fauna silvestre características de la zona, los diferentes ecosistemas y zonas de vida, enfatizando la manera en que estos funcionan para garantizar la productividad biológica y la diversidad (por ejemplo, cómo la vegetación permite sostener la pesca y la vida silvestre,      cómo los hábitat de la vida silvestre soportan el ciclo de vida permitiendo la reproducción, migración, alimentación y protección). 

                p Describe también áreas únicas, zonas en transición (bordes), otros recursos de especial importancia, y el uso de los recursos biológicos para la agricultura, silvicultura, pesca, etc.
        
        .hr

        h3.mt-6
                span 
                    i.fa.fa-caret-right.mr-2 
                    strong Ambiente Socioeconómico
        
        img.img-fluid(src="assets/images/pages/img9.png").img-a.mt-5

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0
            .col-12
                p Esta categoría incluye la población humana (tamaño, distribución, etnia y otras características); actividades económicas (empleo, inversión, ingreso promedio, impuestos, etc.) en el área del proyecto. Usualmente, se incluye aquí una descripción de la infraestructura socioeconómica, como los servicios e instalaciones públicas y privadas, incluyendo el transporte, las viviendas, escuelas, parques, protección policial y contra incendio, servicios de salud, abastecimiento de agua y desagüe, manejo del agua de lluvia y desechos sólidos.

                p La discusión sobre la infraestructura puede extenderse a temas como el tráfico (donde el proyecto podría tener impacto en el corto o largo plazo sobre las vías de acceso o los niveles de tráfico), los recursos energéticos (por ejemplo, el uso y conservación de la energía en un proyecto) y los materiales peligrosos.

                p Recursos Culturales y Estéticos

                p Usualmente, comprende una discusión sobre la ubicación específica del proyecto desde el punto de vista arqueológico, histórico y de belleza paisajista, con algún contexto narrativo explicando sus significados. Los recursos estéticos pueden incluir muchos elementos del estilo de vida y los valores de la gente, como los recursos visuales y escénicos.
        
        .hr

        .header-arrow.my-5
            h3.text-center Conclusión

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                p Es importante diagnosticar los componentes ambientales que están en el área de influencia del proyecto, obra o actividad para identificar los posibles impactos ambientales o mitigar los impactos que puede ocasionar por las labores humanas al entorno.

                p La caracterización de los sistemas socio ecológicos, es una actividad que le permite al equipo de trabajo que está realizando el diagnóstico ambiental, conocer en detalle las características generales y particulares de la acción propuesta, desde la perspectiva de la especialidad o disciplina de cada una de las personas participantes.

                p Una salida de campo para visitar un sistema socio ecológico nos puede servir para identificar y describir dicho entorno.

    br#bases2

    .jumbotron.bg-white.mt-5

        .subtitulo-guion
            h2 3.3 Bases conceptuales IMPACTO AMBIENTAL

        .sub-line
            h2.my-5 Aspecto ambiental

        p Elemento de las actividades, productos o servicios de una organización que interactúa o puede interactuar con el medio ambiente.
        
        p ICONTEC (2015) NTC ISO 14001 Sistemas de Gestión Ambiental. Requisitos con orientación para su uso p 3. 

        section
            .row.justify-content-center
                .col-auto
                    a(href="https://informacion.unad.edu.co/images/control_interno/NTC_ISO_14001_2015.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Norma técnica colombiana NTC-ISO 14001
        
        .sub-line
            h2.my-5 Tipos de aspecto ambiental

        p Los aspectos ambientales son considerados positivos si ayudan al medio ambiente o negativos si desfavorecen al medio ambiente.

        p #[b Ejemplos:]

        .row
            .col-6
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Generación de residuos.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Consumo de agua.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Consumo de materiales.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Consumo de agua.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Vertimientos.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Generación de ruidos.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Generación de residuos de aparatos eléctricos y electrónicos.

            .col-6
                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Emisiones atmosféricas por fuentes fijas y móviles.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Generación de escombros y malos olores.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Publicidad exterior visual.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Educación ambiental. (+)
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Generación de calor.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Consumo de combustibles.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Criterios ambientales para la adquisición de insumos y materiales. (+)

        p.mt-4 Para saber más puede consultar: sobreocupación del espacio, entre otros. Arboleda J. (2008) Manual de evaluación de impacto ambiental. Pág. 20-21.

        section
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_1_Manual_EIA.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Manual de evaluación de impacto ambiental (EIA)
        
        .sub-line
            h2.my-5 Evaluación de Impacto Ambiental (EIA)
        
        p Se entiende por Evaluación de Impacto Ambiental, el conjunto de estudios y sistemas técnicos que permiten estimar los efectos que la ejecución de un determinado proyecto, obra o actividad, causa sobre el medio ambiente, el cual tiene la identificación de los aspectos e impactos ambientales por medio de metodologías cuantitativas y/o cualitativas como puede ser el desarrollo de matrices de impacto ambiental.  (Vicente Conesa -Guía Metodológica para la Evaluación del Impacto Ambiental).

        p Por lo tanto la EIA, debe cubrir cada una de las etapas del proyecto, obra o actividad.

        p #[b Ver tabla:] La EIA como instrumento para incorporar la variable ambiental Manual EIA Jorge Arboleda.

        .row.justify-content-center
            .col-12.col-md-8
                .table-responsive
                    table.table.table-striped.m-0
                        thead.thead-dark
                            tr
                                th.table1 Aspecto
                                th.table1 Tipo
                        tbody
                                tr
                                    td.table2 Vertimientos
                                    td.table2
                                        ul.mb-0
                                            li Aguas de proceso
                                            li Aguas de lavado
                                            li Aguas domésticas
                                tr
                                    td.table3 Emisiones
                                    td.table3
                                        ul.mb-0
                                            li Material particulado
                                            li Gases
                                            li Olores ofensivos
                                            li Ruido
                                            li Calor
                                tr
                                    td.table2 Residuos
                                    td.table2
                                        ul.mb-0
                                            li Residuos aprovechables
                                            li Residuos no aprovechables
                                            li Residuos peligrosos o especiales
        
        .row.justify-content-center.mt-5
            .col-12.col-md-8
                .table-responsive
                    table.table.table-striped.m-0
                        thead.thead-dark
                            tr
                                th.table1 Aspecto
                                th.table1 Tipo
                        tbody
                                tr
                                    td.table2 Consumos
                                    td.table2
                                        ul.mb-0
                                            li Agua
                                            li Energia
                                            li Materias primas
                                            li Combustibles
                                tr
                                    td.table3 Peligros
                                    td.table3
                                        ul.mb-0
                                            li Explosión
                                            li Incendio
                                            li Derrame (líquidos o sólidos)
                                            li Fuga (gases)
                                            li Inundación
                                            li Accidente vehicular

        p.mt-4 La EIA es el enlace entre la gestión ambiental y la gestión técnica, económica y administrativa que requieren los proyectos. Igualmente, es uno de los instrumentos de gestión de los proyectos que aportan elementos para lograr su viabilidad global. 
        
        p A continuación, se explica este enlace:

        p #[b Ver imagen:] La EIA como puente entre lo ambiental y la viabilidad del proyecto Manual EIA Jorge Arboleda.

        img.img-fluid(src="assets/images/pages/img10.png").img-a.mt-5

        p.mt-4 Se puede concluir entonces que toda EIA se debe realizar siguiendo secuencialmente cuatro (4) grandes fases o componentes, como se ilustran. 

        img.img-fluid(src="assets/images/pages/img11.png").img-a.mt-5

        p.mt-4 Ver imagen: Esquema general de la EIA Manual EIA Jorge Arboleda

        img.img-fluid(src="assets/images/pages/img12.png").img-a.mt-5

        .sub-line
            h2.my-5 Tipos de impacto ambiental

        p Los impactos ambientales se derivan de los aspectos ambientales podríamos decir que los aspectos ambientales son las causas en la interacción del hombre con el medio ambiente y el impacto su consecuencia 

        p ejemplos de impacto:

        .list.align-items-start
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Aspecto ambiental: Tala de árboles (causa) y el impacto ambiental (consecuencia) deforestación y desplazamiento de especie.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Generación de residuos (causa) y el impacto ambiental (consecuencia) sobrepresión en el relleno sanitario.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Generación de emisiones (causa) y el impacto Contaminación del aire (consecuencia).
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Generación de vertimientos (causa) y el impacto ambiental contaminación del agua (consecuencia).
        
        p.mt-4 Ver tabla Ejemplos impactos ambientales Manual EIA Jorge Arboleda

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                h2 A tener en cuenta:

                p Para ampliar la información de los aspectos e impactos ambientales puede dirigirse a material de apoyo Manual para la evaluación de impactos ambiental de proyecto, obra o actividad de Jorge Arboleda.