.container#marco

    .header-ecored
        h1 4. Marco normativo ambiental

    .jumbotron.bg-white#la

        .subtitulo-guion
            h2 4.1 La Normativa en Colombia

        p Respetado aprendiz, Las normas que se establecen en Colombia parten del hecho de su importancia y jerarquía en las que involucran derechos y obligaciones establecidas en nuestra constitución política. Es importante conocer que normas y/o leyes prevalecen sobre otras y viceversa, por eso vamos a profundizar en este tema.
    
    br#pero

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.2 Pero antes pregúntate ¿Qué es ordenamiento Jurídico?

        p En Colombia el derecho se presenta como un sistema jerarquizado de normas que denominamos ordenamiento jurídico. Es así como el ordenamiento jurídico se fundamenta en unas normas de mayor jerarquía que son la Constitución Política o Constitución Nacional, que en Colombia es la expedida por la Asamblea Nacional Constituyente de 1991.

        img.img-fluid(src="assets/images/pages/img13.png", style="max-width: 80%").img-a.mt-5

    br#marco1

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.3 Marco Normativo Colombiano

        p Para comprender como funcionan las normas en Colombia, hoy entenderemos como se hacen las leyes en nuestro país. En el siguiente video observaremos como funciona nuestro sistema legislativo. Clic en el video para ampliar la información

        p Senado Colombia (2016, marzo 14) ¿Sabe usted cómo hacen las leyes en Colombia?

        .row.justify-content-center
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/BW0KINqhaZY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        p.mt-5 Las normas más relevantes en materia de legislación ambiental en Colombia las puede consultar en la página web del Ministerio de Medio Ambiente en la pestaña Normatividad.

        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="https://www.minambiente.gov.co/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Ministerio de Medio Ambiente 

        p.mt-4 En cuanto a normatividad ambiental local con la secretaria distrital de ambiente, áreas metropolitanas o corporaciones autónomas regionales dependiendo del lugar donde se encuentre la organización para que le aplique su jurisdicción.
    
    br#que

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.4 ¿Qué es un normograma?

        .row.justify-content-center.my-5
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/m7uXvPpS77c', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p Un normograma es una herramienta en donde se clasifican y jerarquizan las normas que regulan el actuar de diferentes campos y objetos misionales, cuyo propósito es tener la información pertinente para ejecución de estas en un campo o sector determinado, ambientalmente hablando, el normograma ambiental nos ayuda a identificar y clasificar las normas dependiendo el recurso en cuestión ya sea agua, aire, suelo, entre otras.

        p En el siguiente botón se describen los conceptos de normograma y matriz de normograma expedido por el Ministerio de justicia Colombia.

        section.my-5
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_3_Normograma_y_documental.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Normograma y Gestión documental

        hr.line-100.bg-orange.my-5

        p.mt-5 #[b Ejemplo 1:]

        img.img-fluid(src="assets/images/pages/img1.jpg").img-a

        p.mt-5 #[b Ejemplo 2:]

        img.img-fluid(src="assets/images/pages/img2.jpg").img-a

    br#que1

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.5 ¿Qué normas contiene?
        
        p En nuestro caso, el normograma contiene las leyes, decretos, acuerdos, resoluciones que se relacionen directamente con el proyecto, así como también las normas internas, protocolos, manuales, estatutos, y en general aquellos actos administrativos que permitan establecer responsabilidades, obligaciones, funciones, y derechos que deben cumplir todas las organizaciones en nuestro país.

        p Tenga en cuenta, que las normas que incluyen en este formato están encaminadas a dar respuesta a las competencias técnicas que usted ve en la tecnología en control y prevención.

    br#autoridades

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.6 Autoridades Ambientales en Colombia

        p Colombia se caracteriza por ser un país con gran diversidad ecológica y ambiental por tal razón, el MINAMBIENTE  Ministerio de Ambiente y Desarrollo sostenible  es el rector y  la máxima autoridad que establece las normas políticas y la gestión del ambiente y de los recursos naturales renovables, cuyo propósito es el de  orientar y regular el ordenamiento ambiental del territorio, establecer políticas, regulaciones para el aprovechamiento, manejo y uso  de los recursos naturales renovables y del ambiente de la nación, a fin de asegurar el desarrollo sostenible y el bienestar de ambiental de todos los colombianos.

        p Observemos el siguiente video, que nos ilustra que hace el MINAMBIENTE.

        .row.justify-content-center
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/cq7vjlAkCIU', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p.mt-4 Ministerio de Ambiente y Desarrollo Sostenible –Colombia (2017, septiembre 27) Creación del Ministerio de Ambiente y Desarrollo Sostenible.

        .header-arrow.my-5
            h3.text-center Desde el observatorio de gobernanza del agua en su página web <a href="http://www.ideam.gov.co/web/ocga/autoridades" target="_blank">http://www.ideam.gov.co/web/ocga/autoridades</a>, se puede visualizar el orden jerárquico nacional de autoridades ambientales así:

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b MINISTERIO DE AMBIENTE Y DESARROLLO SOSTENIBLE:] el Ministerio de Ambiente y Desarrollo Sostenible es el rector de la gestión del ambiente y de los recursos naturales renovables.

                p #[b AUTORIDAD NACIONAL DE LICENCIAS AMBIENTALES:] es una Unidad Administrativa Especial, creada mediante el Decreto 3573 del 2011, de orden nacional encargada de que los proyectos, obras o actividades sujetos de licenciamiento, permiso o trámite ambiental cumplan con la normativa, de tal manera que contribuyan al desarrollo sostenible.

                p #[b PARQUES NACIONALES NATURALES DE COLOMBIA:] es una Unidad Administrativa Especial, creada mediante el Decreto 3572 del 2011, de orden nacional encargada de la administración y manejo del Sistema de Parques Nacionales Naturales y la coordinación del Sistema Nacional de Áreas Protegidas, así como de su administración, control y conservación.

                p #[b AUTORIDADES AMBIENTALES REGIONALES (CAR):] Las Corporaciones Autónomas Regionales - CAR son entes corporativos de carácter público, creados por la ley, integrados por las entidades territoriales que por sus características constituyen geográficamente un mismo ecosistema o conforman una unidad geopolítica, biogeográfica o hidro geográfica, dotados de autonomía administrativa y financiera, patrimonio propio y personería jurídica, encargados por la ley de administrar, dentro del área de su jurisdicción el medio ambiente y los recursos naturales renovables y propender por su desarrollo sostenible, de conformidad con las disposiciones legales y las políticas del MADS.

                p Visualice la matriz informativa de las corporaciones autónomas regionales y de desarrollo sostenible en el país. Clic para ir al enlace:

                section
                    .row.justify-content-center
                        .col-auto
                            a(href="http://www.ideam.gov.co/web/ocga/autoridades" target="_blank").media-link
                                img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                                .media-link-title
                                    p Autoridades ambientales en Colombia
                
                p.mt-4 #[b AUTORIDADES AMBIENTALES URBANAS:] estas instituciones están encargadas de promover y ejecutar programas y políticas nacionales, regionales y sectoriales en relación con el medio ambiente y los recursos naturales renovables -las mismas funciones de las Corporaciones Autónomas Regionales- en los municipios, distritos o áreas metropolitanas cuya población urbana fuere igual o superior a un millón de habitantes

                .list.align-items-start
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Departamento Técnico Administrativo del Medio Ambiente de Barranquilla.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Departamento Administrativo Distrital del Medio Ambiente de Santa Marta.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Establecimiento Público Ambiental de Cartagena.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Área Metropolitana del Valle de Aburrá.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Secretaría Distrital de Ambiente de Bogotá.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mb-0 Departamento Administrativo para Gestión del Medio Ambiente de Cali.
        
        p.mt-4 ¡Sitios de interés! Para la búsqueda de la información normativa, le sugerimos visitar las siguientes páginas con contenido relacionado 

        section.ml-4
            .row
                .col-auto
                    a(href="https://www.minambiente.gov.co/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Minambiente
        
        section.mt-4.ml-4
            .row
                .col-auto
                    a(href="http://www.ambientebogota.gov.co/web/sda/ambiente-x-recursos" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Secretaría Distrital de Ambiente
        
        section.mt-4.ml-4
            .row
                .col-auto
                    a(href="https://www.car.gov.co/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p CAR
        
        section.mt-4.ml-4
            .row
                .col-auto
                    a(href="https://www.foronacionalambiental.org.co/nuestros-temas/politica-ambiental-nacional/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Foro nacional ambiental
    
    br#sina

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.7 Sistema Nacional Ambiental SINA

        p En Colombia la ley 99 de 1993 creó el Sistema Nacional Ambiental (SINA), que se define como el conjunto de orientaciones, normas, actividades, recursos, programas e instituciones que permiten la puesta en marcha de los principios generales ambientales contenidos en la Constitución Política de Colombia de 1991 y la ley 99 de 1993.

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b Sabías que!!!!!]

                p El SINA está integrado por el Ministerio del Medio Ambiente, las Corporaciones Autónomas Regionales, las Entidades Territoriales y los Institutos de Investigación adscritos y vinculados al MINAMBIENTE.

        .sub-line
            h2.my-5 ¿Sabe cuáles son las principales funciones del SINA?
        
        p El sistema nacional ambiental realiza las siguientes funciones:

        .list.align-items-start
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Dirigir y coordinar el Sistema Nacional Ambiental. -SINA-
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Apoyar y coordinar los procesos de planificación de las autoridades ambientales.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Definir y orientar, de acuerdo con las directrices del ministro, las líneas de investigación y estudios ambientales.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Orientar y coordinar la creación de espacios y mecanismos para fomentar la coordinación, fortalecimiento, articulación y mutua cooperación de las entidades que integran el Sistema Nacional Ambiental.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Solicitar a las autoridades ambientales y demás entidades del Sector la información que se requiera para la formulación de la política ambiental y el seguimiento a la ejecución de sus planes y programas.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Definir los aspectos ambientales, para la formulación de las políticas nacionales de población.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Brindar orientación a las entidades territoriales.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Coordinar con el Viceministerio la formulación e implementación de la política de ordenamiento ambiental del territorio.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Proponer las regulaciones ambientales sobre uso del suelo.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Emitir conceptos técnicos sobre los planes de ordenamiento territorial de los municipios y distritos.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Impartir directrices a las entidades territoriales, sectores económicos y demás agentes productivos, de servicios y del conocimiento en el manejo de los efectos e impactos ambientales de los desastres naturales.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Orientar la formulación de la política y los mecanismos para la protección del conocimiento tradicional asociado a la conservación y uso sostenible de la biodiversidad.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Dar orientaciones, lineamientos y directrices en educación y participación en materia ambiental.
        
        p.mt-4 Teniendo en cuenta todas estas funciones que realiza en SINA, vemos la importancia de este organismo en el desarrollo sistémico y organizado para la realidad ambiental en nuestro país.  Visualice el video que muestra lo que se ha realizado a partir de su creación en 1993 y gestión realizada hasta nuestros días: clic al video:

        .row.justify-content-center
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/nbfpvNzuYD4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
    br#cumbres

    .jumbotron.bg-white

        .subtitulo-guion
            h2 4.8 Cumbres de la tierra
        
        p Cumbre de la Tierra es la expresión que se utiliza para denominar las Conferencias de Naciones Unidas (ONU)  sobre el Medio ambiente y su Desarrollo por medio del Programa de las Naciones Unidas para el Medio Ambiente (PNUMA), un tipo excepcional de encuentro internacional entre jefes de estado de todos los países del mundo, con el fin de alcanzar acuerdos sobre el medio ambiente, desarrollo, cambio climático, biodiversidad y otros temas relacionados.

        p La primera Cumbre de la Tierra se realizó en Estocolmo (Suecia), del 5 al 16 de junio de 1972.
        
        p Veinte años después se realizó la segunda en Río de Janeiro (Brasil), del 2 al 13 de junio de 1992.
        
        p La tercera se realizó en Johannesburgo (Sudáfrica), del 23 de agosto al 5 de septiembre del 2002.
        
        p La cuarta cumbre se reunió en junio de 2012 en Río de Janeiro, bajo la denominación de Conferencia de Desarrollo Sostenible Río+20.

        p para ampliar la información haga clic en el enlace:

        section
            .row.justify-content-center
                .col-auto
                    a(href="https://www.un.org/development/desa/es/about/conferences.html" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Principales cumbres y conferencias
        
        p.mt-4 Haga un alto en este tema y visualice el video propuesto.

        .row.justify-content-center
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/MCKH5xk8X-g', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        p.text-center.mt-4 Unesco (2017, enero 26) Los Objetivos de Desarrollo Sostenible - qué son y cómo alcanzarlos.

        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b ¡Estimado Aprendiz!]

                p Para profundizar en el tema lo invitamos a consultar en material complementario / Tema 3 / Matriz legal.