.container#metodos

    .header-ecored
        h1 6. Métodos e instrumentos para la recolección de la información
    
    .jumbotron.bg-white

        p Los métodos y técnicas de recolección de datos pueden dividirse en dos categorías: métodos primarios de recolección de datos y métodos secundarios de recolección de datos.
    
    br#metodos1

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.1. Métodos de recolección de datos primarios
        
        p Los datos primarios se recolectan de la experiencia de primera mano y no se utilizan en el pasado. Esta información es específica, altamente auténtica y precisa.
        
        p Los métodos de recolección de datos primarios pueden dividirse en dos categorías: métodos cuantitativos y métodos cualitativos.

        .sub-line
            h2.my-5 Métodos cuantitativos
        
        p Los métodos cuantitativos para la investigación de mercados y la previsión de la demanda suelen utilizar herramientas estadísticas. Aquí, la demanda se pronostica sobre la base de datos históricos. 

        p Estos métodos y técnicas de recolección de datos primarios se utilizan generalmente para hacer pronósticos a largo plazo. Son altamente confiables, ya que el elemento de subjetividad es mínimo.

        p.mt-5
            span
                i.fa.fa-caret-right.mr-2
                b Métodos cuantitativos
        
        p Los métodos cuantitativos para la investigación de mercados y la previsión de la demanda suelen utilizar herramientas estadísticas. Aquí, la demanda se pronostica sobre la base de datos históricos. 

        p Estos métodos y técnicas de recolección de datos primarios se utilizan generalmente para hacer pronósticos a largo plazo. Son altamente confiables, ya que el elemento de subjetividad es mínimo.

        .row.ml-3.mt-4
            .col-12
                p
                    span
                        i.fa.fa-angle-right.mr-2
                        b Análisis de series cronológicas o temporales: 
                        | el término se refiere a un orden secuencial de valores de una variable, conocido como tendencia a intervalos de tiempo iguales. Utilizando tendencias, una organización puede predecir la demanda de sus productos y servicios para el tiempo proyectado.
                p
                    span
                        i.fa.fa-angle-right.mr-2
                        b Técnicas de suavizado: 
                        | en los casos en que la serie temporal carece de tendencias significativas, se pueden utilizar técnicas de suavizado para eliminar una variación aleatoria de la demanda histórica. Esto ayuda a identificar patrones y niveles de demanda que pueden ser usados para estimar la demanda futura

                        p Los métodos más comunes utilizados en las técnicas de suavizado de la previsión de la demanda son el método de media móvil simple y el método de media móvil ponderada.
                p
                    span
                        i.fa.fa-angle-right.mr-2
                        b Método Barométrico: 
                        | también conocido como el enfoque de los indicadores principales, este método se utiliza para especular sobre las tendencias futuras en función de la evolución actual.

                        p Cuando un evento pasado se considera para predecir el evento futuro, el evento pasado actuaría como un indicador principal.

        
        .sub-line
            h2.my-5 Métodos cualitativos
        
        p Los métodos de recolección de datos cualitativos son especialmente útiles en situaciones en las que no se dispone de datos históricos, no se necesitan números ni cálculos matemáticos. 

        p La investigación cualitativa está estrechamente relacionada con palabras, sonidos, sentimientos, emociones, colores y otros elementos que no son cuantificables. 

        p Estas técnicas se basan en la experiencia, el juicio, la intuición, las conjeturas, las emociones, etc.

        p Los métodos y técnicas de recolección de datos cuantitativos no proporcionan el motivo de las respuestas de los participantes, a menudo no llegan a las poblaciones subrepresentadas y pueden abarcar largos períodos de tiempo para recopilar los datos. Por lo tanto, es mejor combinar métodos cuantitativos con métodos cualitativos.

        .header-arrow.my-5
            h3.text-center En la infografía encontrará algunos de los métodos de recolección de datos cualitativos, explórelos: 

        .row.justify-content-center.mt-5

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img14.svg").img-fluid
                        p.card__copy 
                            span
                                b Encuestas:
                                
                                p.mt-4 Las encuestas se utilizan para recopilar datos de la audiencia objetivo y recoger información sobre sus preferencias, opiniones, elecciones y comentarios relacionados con tus productos y servicios.
                                
                                p La mayoría de los programas de creación de encuestas a menudo ofrecen una amplia gama de tipos de preguntas para seleccionar.
                        
                                p También puedes utilizar una plantilla de encuesta ya preparada para ahorrar tiempo y esfuerzo. Las encuestas en línea se pueden personalizar según la marca de la empresa cambiando el tema, el logotipo, etc. 

                                p Existen diversos métodos de distribución de encuestas, como vía correo electrónico, sitio web, aplicación offline, código QR, redes sociales, etc. Dependiendo del tipo y la fuente de su audiencia, puede seleccionar el canal.

                                p Un panel de encuestas puede proporcionar estadísticas relacionadas con la tasa de respuesta, la tasa de finalización, los filtros basados en la demografía, las opciones de exportación y uso compartido, etc.

                                p Una vez recopilados los datos, el software para encuestas puede generar varios tipos de informes y ejecutar algoritmos analíticos para descubrir información oculta. 

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img14.svg").img-fluid
                        p.card__copy 
                            span
                                b Sondeos:
                                
                                p.mt-4 Los sondeos se componen de una pregunta de opción única o múltiple. Cuando se requiere tener un pulso rápido de los sentimientos de la audiencia, puedes ir a las encuestas. Debido a que son de corta duración, es más fácil obtener respuestas de la gente.
                                
                                p También se pueden integrar en varias plataformas. Una vez que los encuestados responden a la pregunta, también se les puede mostrar cómo se encuentran en comparación con las respuestas de los demás.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img14.svg").img-fluid
                        p.card__copy 
                            span
                                b  Entrevistas:
                                
                                p.mt-4 En este método, el entrevistador hace preguntas cara a cara o por teléfono a los encuestados. En las entrevistas cara a cara, el entrevistador hace una serie de preguntas al entrevistado en persona y anota las respuestas. 

                                p En caso de que no sea posible conocer a la persona, el entrevistador puede apoyarse en una entrevista telefónica.

                                p A diferencia de los otros métodos de recolección de datos, este es adecuado cuando solo hay unos pocos encuestados. Es demasiado largo y tedioso repetir el mismo proceso si hay muchos participantes.
            
            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img14.svg").img-fluid
                        p.card__copy 
                            span
                                b  Técnica Delphi:
                                
                                p.mt-4 En él, los expertos del mercado reciben las estimaciones y suposiciones de los pronósticos realizados por otros expertos de la industria. Pueden reconsiderar y revisar sus propias estimaciones e hipótesis sobre la base de la información proporcionada.

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img14.svg").img-fluid
                        p.card__copy 
                            span
                                b  Focus Group:
                                
                                p.mt-4 Es otro de los métodos y técnicas de recolección de datos en donde un pequeño grupo de personas, alrededor de 8-10 miembros, se reúnen para discutir las áreas comunes del problema con un moderador que regula la discusión. 

                                p Cada participante aporta sus puntos de vista sobre el tema en cuestión. Al final de la discusión, el grupo llega a un consenso.

            .col-10.col-md-8
                .card-media.bg-color2
                    .card-media__body
                        figure.card__figure
                            img(src="assets/images/pages/img14.svg").img-fluid
                        p.card__copy 
                            span
                                b  Cuestionario:
                                
                                p.mt-4 Un cuestionario es un conjunto impreso de preguntas, abiertas o cerradas, que los encuestados deben responder en función de sus conocimientos y experiencia con el tema.

                                p El cuestionario es parte de la encuesta, mientras que el objetivo final de un cuestionario puede o no ser una encuesta.
    
    br#metodos2

    .jumbotron.bg-white

        .subtitulo-guion
            h2 6.2 Métodos y técnicas de recolección de datos secundarias

        p Los métodos y técnicas de recolección de datos secundarios son los datos que se han utilizado en el pasado. El investigador puede obtener datos de las fuentes tanto internas como externas a la organización. 

        .sub-line
            h2.my-5 Fuentes internas de datos secundarios
        
        .list.align-items-start
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Registros.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Estados Financieros.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Revistas.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Informes.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Resúmenes ejecutivos.

        .sub-line
            h2.my-5 Fuentes externas de datos secundarios

        .list.align-items-start
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Informes de los gobiernos.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Comunicados de prensa.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Revistas de negocios.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Bibliotecas.
        .list.align-items-start.mt-2
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/v1.svg").img-fluid  
            .list__txt
                p.mb-0 Internet.
        
        p.mt-4 La recolección de datos secundarios también puede incluir técnicas cuantitativas y cualitativas. Estos se encuentran fácilmente disponibles y, por lo tanto, son menos lentos y caros en comparación con los datos primarios. 

        p Sin embargo, en el caso de los métodos secundarios de recogida de datos, no se puede verificar la autenticidad de los datos recogidos.

        p #[b Tomado de:] QuestionPro (s,f)¿Cuáles son los métodos y técnicas de recolección de datos más efectivos?

        section
            .row.justify-content-center
                .col-auto
                    a(href="https://www.questionpro.com/blog/es/metodos-de-recoleccion-de-datos/" target="_blank").media-link
                        img(src="assets/images/icons/icon_www.svg", alt="").media-link-icon
                        .media-link-title
                            p Métodos y técnicas de recolección de datos más efectivos
        
        p.mt-4 Por tanto, lo invitamos a visualizar el siguiente video:

        .row.justify-content-center
            .col-12.col-md-10
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/u_atFPU0DOY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        
        .row.align-items-center.justify-content-center.bg-color1.p-4.mx-0.mt-4.rounded
            .col-12
                p #[b ¡Estimado aprendiz!]

                p Para profundizar en el tema lo invitamos a consultar en material complementario / Tema 5 / Instructivo tabulación y análisis de la información.